<h1> Refill your Bottle! </h1>
	
<%= form_for @waterbottle, :url => waterbottle_path(@waterbottle.id) do |f| %>
	<p> How many times did you refill your bottle today? </p>
	<%= f.text_field :refills %>
	<%= f.hidden_field :user_id, :value => current_user.id %></br>
	<%= f.hidden_field :volume, :value => @waterbottle.volume %></br>
	<%= f.submit "Refill Waterbottle" %>
<% end %>


<%= link_to "Recycle Water Bottle", waterbottle_path, method: :delete %>