<div class="parallax"></div>
<div class="wrapper">
	<div class="content">
		<%= form_for @waterbottle do |f| %>
			<p> HOW MANY TIMES DID YOU REFILL YOUR BOTTLE TODAY? </p>
			<%= f.text_field :refills, :class => "refill" %>
			<%= f.hidden_field :user_id, :value => current_user.id %></br>
			<%= f.hidden_field :volume, :value => @waterbottle.volume %>
			<%= f.submit "Refill Waterbottle", :class => 'refill-btn' %>
		<% end %>


		<div class="ruby-link"><%= link_to "RECYCLE YOUR BOTTLE", waterbottle_path, method: :delete %></div>
	</div>
</div>

<div class="parallax" id="second"></div>