<div class="parallax"></div>
<div class="wrapper">
	<div class="content">
		<h1> Refill your Bottle! </h1>
			
		<%= form_for @waterbottle do |f| %>
			<p> How many times did you refill your bottle today? </p>
			<%= f.text_field :refills %>
			<%= f.hidden_field :user_id, :value => current_user.id %></br>
			<%= f.hidden_field :volume, :value => @waterbottle.volume %></br>
			<%= f.submit "Refill Waterbottle" %>
		<% end %>


		<div class="ruby-link"><%= link_to "Recycle Water Bottle", waterbottle_path, method: :delete %></div>
	</div>
</div>

<div class="parallax" id="second"></div>