<div class="parallax"></div>
<div class="wrapper">
	<div class="content">
		<h1> How big is your waterbottle?</h1>

		<%= form_for @waterbottle do |f| %>
			<div> Volume of bottle in mL </div>
			<div><%= f.text_field :volume %> </div>
			<!-- <div> How many times have you filled this bottle with water? </div> -->
			<div> <%= f.hidden_field :refills, :value => 1 %> </div>
			<%= f.hidden_field :user_id, :value => current_user.id %></br>
			</br>
			<%= f.submit "Create Waterbottle" %>
		<% end %>
	</div>
</div>
<div class="parallax" id="second"></div>