<h1> Your Profile</h1>

<h2>Email:</h2>
<%= @user.email %>

<br>

<hr>
<h3>This waterbottle belongs to <%= @user.email %></h3>
<% @user.waterbottles.each do |s| %>
    <div> Size: <%= s.volume %> mL</div>
    <div> Refilled <%= s.refills %> times </div>
    <div class="job-post"><a href="/waterbottles/<%= s.id %>/edit"> Refill </a></div>
<% end %>

<%# @waterbottles.each do |a| %>
	<!-- <div class="job-post"><a href="/waterbottles/<%#= s.id %>"><%#= s.volume %></a></div> -->
<%# end %>
<hr>


<h2>Edit User:</h2>
<%= link_to 'Edit', edit_user_registration_path(@user) %> | 	
<%= link_to "Delete", user_registration_path, method: :delete %>