<div class="parallax"></div>

<div class="wrapper">
	<div class="content">
		<h3>Email:</h3>
		<p class="opening"><%= @user.email %></p>
		<hr>
		<p> LIFE TIME WATERBOTTLE STATS</p>
		<% @user.waterbottles.each do |s| %>
		    <div><p class='opening'> Size: <%= s.volume %> mL</p></div>
		    <div><p class='opening'> Refilled <%= s.refills %> times </p></div>
		    <div class="ruby-link"><p><a href="/waterbottles/<%= s.id %>/edit"> Refill This Bottle </p></a></div>

		    <p><%= (s.refills*(((s.volume)/(500))*0.04)).to_f %> Pounds of Plastic Saved </p>
		<% end %>

		<hr>


		<h3>Edit User:</h3>
		<div class="ruby-link"><%= link_to 'Edit', edit_user_registration_path(@user) %> | 	
		<%= link_to "Delete", user_registration_path, method: :delete %></div>
	</div>
</div>

<div class="parallax" id="second"></div>