<!DOCTYPE html>
<html>
  <head>
    <title>Google Map Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h3>Test</h3>

    <div class="container">
      <div class="options-box">

        <div>
          <input id ="show-listings" type="button" value="Show Listings">
          <input id ="hide-listings" type="button" value="Hide Listings">
        </div>

        <div>
          <!-- inputs to search area. may be good for placing where water is -->
          <input id ="zoom-to-area-text" type="text" placeholder="Enter your Favorite Area!">
          <input id ="zoom-to-area" type="button" value="Zoom">
        </div>

        <!-- Form to pass the zoomed in on area to the DB -->
          <%#= form_for @location do |f| %>
            <%#= f.hidden_field :title %>
            <%#= f.hidden_field :lat, :id => 'lat-input' %>
            <%#= f.hidden_field :lng, :id => 'lng-input' %>
            <%#= f.submit "Add New Location", :id => 'button-api' %>
          <%# end %>

        <div id="map"></div>
        
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing,geometry&key=<%= ENV["MAP_API"] %>&v=3"></script>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
