<!DOCTYPE html>
<html>
  <head>
    <title>Find Water</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if !logged_in? %>
        <nav class="navbar">
            <ul>
              <li><a href="/users/sign_in" >SIGN IN</li></a>
              <li><a href="/users/sign_up" >SIGN UP</li></a>
              <p class="logo">FIND WATER</p>
            </ul>

      <% end %>

      <% if logged_in? %>
        <nav class="navbar">
            <ul>
              <li><%= link_to "HOME", root_path %></li>
              <li><%= link_to "PROFILE", current_user %></li>
              <li><%= link_to 'MAP', maps_path %></li>
              <!-- <li><%#= link_to "MAKE BOTTLE", new_waterbottle_path %></li> -->
              <li><%= link_to('SIGN OUT', destroy_user_session_path, method: :delete) %></li>
              <p class="logo">FIND WATER</p>
            </ul>
      <% end %>
        </nav>

    
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
