<!DOCTYPE html>
<html>
  <head>
    <title>Find Water</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if !logged_in? %>
        <nav class="navbar">
            <ul>
              <li><a href="/users/sign_in" >Sign In</li></a>
              <li><a href="/users/sign_up" >Sign Up</li></a>
            </ul>
      <% end %>

      <% if logged_in? %>
        <nav class="navbar">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to 'Find Water', maps_path %></li>
              <li><%= link_to "Make Bottle", new_waterbottle_path %></li>
              <li><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
            </ul>
      <% end %>
        </nav>

    
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
