<!DOCTYPE html>
<html>
  <head>
    <title>Google Map Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h3>Test</h3>

    <div class="container">
      <div class="options-box">

        <div>
          Lat:<input id='lat-input' type='text'>
          <input id ="show-listings" type="button" value="Show Listings">
          <input id ="hide-listings" type="button" value="Hide Listings">
        </div>

        <div id="map"></div>
        
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing,geometry&key=<%= ENV["MAP_API"] %>&v=3"></script>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
